*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box{
    width: 90%;
     max-width: 470px; 
   margin: 100px auto;
   text-align: center;
   padding: 40px 35px;
   background: linear-gradient(135deg, #00c6ff, #0072ff);

   border-radius: 20px;
   color: #fff;
   
}
body{
   background-color: #05bbd7;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
   justify-content: space-between;
   
   
}

.search input{
      border: 0;
     outline: 0;
   
    height: 60px;
    border-radius: 30px;
    color: #555;
  
    padding: 10px 25px;
    font-size: 18px;
    margin-right: 16px;
   
    flex: 1;
    background-color: aliceblue;
   
}

.search button{
    border: 0;
    outline: 0;
    border-radius: 50%;
    background-color: aliceblue;
   
    width: 60px;
    height: 60px;
    cursor: pointer;
    
    
}
.search button img{
    width: 16px;
} 

.weathericon{
    width: 190px;
   margin-top: 30px;
}
@media(max-width:480px){
.weather h1{
    font-size: 60px;
    font-weight: 600;
    
}


.weather h2{
    font-size: 32px;
    font-weight: 300;
    
}.weather p{
    margin-top: 10px;

}
}


.weatherd{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    column-gap: 5rem;
}

.col img{
       width: 30px;
}
.new{
   margin-top: 8px;
}

.col .wind{

    font-size: 20px;
    font-weight: 600;


}

.col .humidity{

    font-size: 20px;
    font-weight: 600;


}

.col #vis{

    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;


}

.col #eye{
    margin-top: 5px;
}



.weather{
    display: none;
}

.error{

    margin-top: 10px;
    font-weight: 400;
    color: red;
    display: none;
   
}



